tidyr 1.1.2
raster 3.3-13
dismo 1.1-4
maptools 1.0-2
randomForest 4.6-14
extraTrees 1.0.5
plot3D 1.3
plotly 4.9.2.1
factoextra 1.0.7
sets 1.0-18
geometry 0.4.5
rgl 0.100.54
rgdal 1.5-18
DescTools 0.99.38
rgeos 0.5-5
sf 0.9-6
USAboundaries 0.3.1

